/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/uploads
/storage/framework/views/*.php
/storage/framework/sessions/*
.env
.history
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
